h1 {
    color: rgb(247, 0, 164);
    background-color: rgba(124, 124, 124, 0.5);
    font-size: 32px;

}

h2 {
    color: rgb(39, 116, 231);
    background-color: rgba(175, 174, 174, 0.418);
    font-size:22px;
}
h3 {
    font-size:20px;
}

img {
    height: auto;
    width: 500px;
}

* {font-family: "Georgia", serif;
    font-size: 18px;
   
}